$white-light: rgb(245, 245, 245);
$white: #fff;
$todo-heading: orange;
$deep-dark: rgb(26, 26, 26);
$light-dark: rgb(79, 82, 92);
$light-blue: rgb(0, 132, 255);
$dark-blue: rgb(2, 84, 161);
$back-color-header: linear-gradient(340deg, #11151b 0%, #53585a 100%);
$edit-color: rgb(15, 179, 69);
$delete-color: tomato;
$error-color: red;
